.vscode/
/Ksenia.Ponomarenko/Alice_and_Bob/Alice_and_Bob/main.cpp
Papasymeonidis_Aristotelis/Task6/build/Task6
Papasymeonidis_Aristotelis/Task6/build/Task6
Papasymeonidis_Aristotelis/Task6/build/new_data.txt
Papasymeonidis_Aristotelis/Task6/build/CMakeFiles/Task6.dir/parsing.cpp.o
Papasymeonidis_Aristotelis/Task6/build/CMakeFiles/Task6.dir/compiler_depend.make
Papasymeonidis_Aristotelis/Task6/build/CMakeFiles/Task6.dir/compiler_depend.internal
Papasymeonidis_Aristotelis/Task6/build/CMakeFiles/Makefile.cmake
Papasymeonidis_Aristotelis/Task6/build/CMakeCache.txt
Papasymeonidis_Aristotelis/Task6/build/.cmake/api/v1/reply/index-2024-04-21T22-07-12-0004.json
Papasymeonidis_Aristotelis/Task6/build/.cmake/api/v1/reply/index-2024-04-15T18-28-21-0197.json
Papasymeonidis_Aristotelis/Task6/build/.cmake/api/v1/reply/cmakeFiles-v1-1e282c9497420224374a.json
Papasymeonidis_Aristotelis/Task6/build/.cmake/api/v1/reply/cmakeFiles-v1-06d3e0b880e58c80e9be.json
Papasymeonidis_Aristotelis/Task6/build/.cmake/api/v1/reply/cache-v2-6f1799829d732f4afdcc.json
Papasymeonidis_Aristotelis/Task6/build/.cmake/api/v1/reply/cache-v2-26a8af8fb00385a54075.json
Papasymeonidis_Aristotelis/Task6/build/Task6
Papasymeonidis_Aristotelis/Task6/build/CMakeFiles/Task6.dir/parsing.cpp.o
Papasymeonidis_Aristotelis/Task6/build/CMakeFiles/Task6.dir/compiler_depend.make
Papasymeonidis_Aristotelis/Task6/build/CMakeFiles/Task6.dir/compiler_depend.internal
Papasymeonidis_Aristotelis/Task6/build/CMakeCache.txt
Papasymeonidis_Aristotelis/Task6/build/CMakeFiles/Makefile.cmake
Papasymeonidis_Aristotelis/Task6/build/.cmake/api/v1/reply/cache-v2-6f1799829d732f4afdcc.json
Papasymeonidis_Aristotelis/Task6/build/.cmake/api/v1/reply/cmakeFiles-v1-06d3e0b880e58c80e9be.json
Papasymeonidis_Aristotelis/Task6/build/.cmake/api/v1/reply/index-2024-04-15T18-28-21-0197.json
